@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.top-heading{
    background: #F9B452;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16   px;
    color: #333333;
}

.top-heading a:hover,
.top-heading a{
    font-weight: bold;
    color: #333333;
}
.navbar-brand {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.navbar-brand img {
    margin-right: 10px;
}

.navbar-nav .nav-link {
    font-size: 16px;
    margin-right: 20px;
    color: #000 !important;
    font-weight: 600;
}

.navbar .btn-success {
    padding: 10px 22px;
    font-size: 16px;
    border-radius: 8px;
    color: #fff !important;
    font-weight: 600;
    background-color: #289925 !important;
}

.banner-bg{
    background: url("../images/banner-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 0px 0px 40px 40px;
}

.members{
    display: flex;
    align-items: center;
    gap: 20px;
}

.section1-container{
    max-width: 1000px;
    margin: auto;
}

.hero-section .banner-left-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 81%;
    margin-left: auto;
}

.hero-section .banner-left-section .heading{
    color: #299926;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #fff;
    border-radius: 6px;
    background: #fff;
    padding: 3px;
    margin-bottom: 20px;
}

.section1-container .text-8FD400,
.hero-section .banner-left-section .text-8FD400{
    font-size: 33px;
    line-height: normal;
    font-weight: 800;
    color: #8FD400;
}

.many-talk,
.section1-heading,
.section1-container .bg-000,
.hero-section .banner-left-section .bg-000{
    font-size: 29px;
    line-height: normal;
    font-weight: 800;
    color: #000;
}

.hero-section .banner-left-section p{
    font-size: 15px;
    line-height: 25px;
    padding: 20px 0px;
}

.hero-section .banner-left-section a{
    background: #2B9926;
    padding: 12px 20px;
    border-radius: 10px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 30px;
}

.financial-heading span,
.hero-section .banner-left-section .members .over-text{
    font-size: 18px;
    color: #000;
    font-weight: bold;
    line-height: normal;
}

.hero-section .banner-left-section .members span{
    color: #636363;
    font-size: 17px;
    line-height: normal;
}

.financial-heading{
    font-size: 16px;
    color: #000;
    font-weight: 400;
    line-height: normal;
    padding:  50px 0px;
}

.section1-container .multiple-icon img{
    padding-bottom: 70px;
}

.card .para{
    font-size: 16px;
    color: #000;
    font-weight: 500;
    padding-bottom: 20px;
}

.card ul li{
    font-size: 14px;
}

.part-one-flex li{
    display: flex;
    align-items: baseline;
    font-size: 16px;
    color: #000;
    padding-bottom: 10px !important;
    font-weight: bold !important;
}

.card ul li{
    display: flex;
    align-items: baseline;
}

.card{
    padding: 40px 20px;
    border: 1px solid #fff !important;
    border-radius: 15px !important;
    margin-bottom: 20px;
}

.font-size-18px{
    font-size: 18px;
    font-weight: 500;
    color: #000;
}

.bg-ECF4F1{
    background-color: #ECF4F1;
    margin: 70px 0px;
    padding: 40px 0px;
}

.font-size-35px{
    font-size: 35px;
    color: #8FD400;
    font-weight: bold;
    line-height: normal;
}

.font-size-60px{
    font-size: 60px;
    color: #000;
    font-weight: 800;
    line-height: normal;
}

.bg-ECF4F1 .paragraph{
    font-size: 14px;
    font-weight: 400;
    color: #063636;
}

.financial-text{
    max-width: 700px;
    margin: auto;
    text-align: center;
    padding-bottom: 50px;
}

.courses-taught-flex .courses-taught-para{
    font-size: 15px;
    color: #404040;
    font-weight: 500;
}

.courses-taught-flex .courses-taught-heading{
    color: #000;
    font-size: 25px;
    line-height: normal;
    font-weight: bold;
}

.courses-taught-flex{
    display: flex;
    align-items: center;
    gap: 30px;
    background: #F9F9F9;
    padding: 20px;
    border-radius: 20px;
}

.courses-taught-flex img{
    width: 60px;
}

.font-size-40px span,
.font-size-40px{
    font-size: 40px !important; 
    color: #000;
    font-weight: 800;
    line-height: normal;
}

.border-right{
    border-right: 2px solid #D9D9D9;
}

.font-size-15px{
    font-size: 15px;
    color: #000;
}

.part-one{
    color: #299926;
    font-size: 18px;
    font-weight: bold;
    background: #E0F8E0;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 10px;
}

.video-frame video{
    width: 100%;
}

.nav-tabs{
    border-bottom: 1px solid #cccccc !important;
}

.nav-tabs .nav-link{
    color: #404040;
    border: none;
    background-color: none !important;
    border-bottom:3px solid transparent !important;
    border-radius: none !important;
}

.nav-tabs .nav-link:hover,
.nav-link.active{
    border-bottom: 3px solid #007336 !important;
    border-color: #fff #fff #007336 !important;
    color: #007336 !important;
}

.custom-section {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    z-index: 1;
}
.custom-section::before {
    content: '';
    position: absolute;
    top: 130px;
    width: 100%;
    background-color: #006338;
    z-index: -1;
    border-radius: 15px;
    bottom: 130px;
}
.custom-content {
    color: white;
    text-align: left;
    z-index: 1;
    position: relative;
}

.custom-button {
    background-color: #2B9926;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
}

.custom-button:hover{
    color: #fff;
}

.custom-section img{
    max-width: 80%;
}

.custom-section p{
    font-size: 15px;
    color: #fff;
}

.master-section{
    background: url(../images/master-section.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 40px;
    margin-bottom: 40px;
}

.master-your-money{
    font-size: 30px;
    color: #fff;
    padding-top: 80px;
    font-weight: bold;
}

.master-section p{
    color: #fff;
    font-size: 15px;
    text-align: center;
    padding-top: 20px;
}

.master-section .join-big-btn a{
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    background-color: #000;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    display: inline-block;
}

.master-section::before  {
    content: "";
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #EBF4F1; 
    z-index: -1;
}

.bg-EBF4F1{
    background-color: #EBF4F1;
    padding-bottom: 30px;
}

.cta-section {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 10px 14px 16px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.cta-text {
    font-size: 16px;
    color: #000;
}

.cta-button {
    background: linear-gradient(90deg, #28a745, #54C247);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 20px auto 0 auto;
    width: fit-content;
}

.cta-button:hover {
    background-color: #289925;
    color: #fff;
}

.faq-section {
    padding: 50px 0;
    text-align: center;
}

.faq-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.accordion{
    max-width: 750px;
    margin: auto;
}

.accordion-button {
    background-color: #fff !important;
    color: #404040 !important;
    font-weight: bold;
    box-shadow: none;
    align-items: center !important;
}

.accordion-button:not(.collapsed) {
    color: #54C247 !important;
    background-color: #fff !important;
    box-shadow: none !important;
}

.accordion-button::after {
    background-image: url(../icons/arrow.svg) !important;
    background-position: center !important;
    background-size: 14px !important;
    background-repeat: no-repeat;
    font-size: 10px;
    color: #333;
    background-color: #f1f1f1;
    border-radius: 50%;
    width: 2.25rem !important;
    height: 2.25rem !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px; /* Space between the text and the circle */
    vertical-align: middle; /* Align the circle with the text */
}

.accordion-button:not(.collapsed)::after{
    background-color: #54C247 !important; 
    background-image: url(../icons/white-arrow.svg) !important;
    transform: none !important;
}

.accordion-button:focus{
    box-shadow: none !important;
}
 
.accordion-item {
    margin-bottom: 10px;
    /* border: none; */
    border: 1px solid #EAEAEA !important;

}

.accordion-item img{
    width: 14px;
}

.accordion-body {
    color: #404040;
    text-align: left;
}

.text-404040 a:hover,
.text-404040 a,
.text-404040{
    color: #404040;
    font-weight: bold;
    text-decoration: none;
}

.footer-section {
    background-color: #000;
    color: #fff;
    padding: 50px 0;
}

.footer-section p{
    font-size: 14px;
    color: #fff;
    padding-top: 20px;
}
.footer-section a {
    color: #fff;
    text-decoration: none;
}

.footer-section a:hover {
    color: #fff;
}

.footer-section .social-icons i {
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    border-radius: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-section .social-icons{
    display: flex;
    gap: 20px;
}

.footer-section h5{
    position: relative;
}

.footer-section h5::after{
    border-bottom: 2px solid #8FD300;
    width: 30px;
    position: absolute;
    content: "";
    top: 0px;
    left: 0;
    bottom: -7px;
}

.footer-section .navigation-link li{
    font-size: 14px;
    padding-bottom: 10px;
}

.text-8FD300{
    color: #8FD300;
}

.navbar-light .navbar-toggler-icon{
    background-image: url(../icons/threeline-bar.svg) !important;
    background-repeat: no-repeat;
    background-size: 80%;
}

.navbar-light .navbar-toggler{
    background-color: #fff;
}

.border-top-fff{
    border-top: none !important;
}

.hero-section .row{
    align-items: center !important;
}

.margin-top-20px{
    border-radius: 30px;
}

.navbar-toggler:focus{
    box-shadow: none !important;
}

.image-container img{
    border-radius: 30px;
}

.text-left{
    text-align: start !important;
    font-size: 25px !important;
}
@media screen and (max-width:1300px) {
    .hero-section .row{
        align-items: flex-end !important;
    }
}

@media screen and (max-width:1200px) {

    .custom-section::before{
        top: 150px;
        bottom: 150px;
    }

    .custom-section img {
        max-width: 100%;
    }

    .hero-section .banner-left-section{
        max-width: 77%;
    }
}

@media screen and (max-width:1100px) {

    .section1-container{
        max-width: 800px;
        margin: auto;
    }

    .custom-section::before{
        top: 150px;
        bottom: 150px;
    }

    .custom-section img {
        max-width: 100%;
    }

    .hero-section .banner-left-section {
        max-width: 92%;
    }

    .nav.nav-tabs {
        flex-wrap: nowrap !important;
        overflow-x: auto;
        overflow-y: hidden;
        flex-wrap: nowrap !important;
    }
}

@media screen and (max-width:991px) {
    .custom-section::before{
        top: 190px;
        height: 100%;
    }

    .custom-content{
        padding: 10px 40px !important;
    }

    .custom-section{
        margin-bottom: 40px;
    }

    .section1-container{
        max-width: 800px;
        margin: auto;
    }

    .text-align-center{
        text-align: center;
    }

    .section1-heading,
    .font-size-35px{
        padding-top: 20px;
    }
    
    .hero-section .banner-left-section{
        max-width: 87%;
    }

    .margin-top-20px{
        margin-top: 20px;
    }
    
}

@media screen and (max-width:900px) {
    .section1-container{
        max-width: 680px;
        margin: auto;
    }

    .fd-cr{
        flex-direction: column-reverse;
    }

    .hero-section .banner-left-section{
        max-width: 90%;
    }
}

@media screen and (max-width:820px) {
    .hero-section .banner-left-section{
        max-width: 96%;
    }
}

@media screen and (max-width:767px) {

    .navbar-brand img {
        width: 70%;
    }

    .card{
        margin: 20px 0px;
        padding: 25px 0px;
    }

    .card .stuck{
        width: 100%;
    }

    .hero-section .banner-left-section{
        max-width: 100%;
        align-items: center;
    }

    .hero-section .banner-left-section .heading{
        margin: auto;
        font-size: 14px;
        margin-bottom: 20px;
    }
    
    .hero-section .banner-left-section .members span,
    .hero-section .banner-left-section .members .over-text{
        font-size: 12px;
    }

    .hero-section .banner-left-section a{
        margin: auto;
        font-size: 14px;
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
    }

    .financial-heading,
    .financial-heading span{
        font-size: 11px;
        padding: 20px 0px;
    }

    .section1-container .bg-000,
    .section1-container .text-8FD400{
        font-size: 22px;
    }

    .hero-section .banner-left-section .text-8FD400{
        font-size: 26px;
    }

    .many-talk,
    .hero-section .banner-left-section .bg-000{
        font-size: 23px;
    }

    .hero-section .banner-left-section p{
        text-align: center;
    }

    .members img{
        width: 100%;
    }

    .members{
        gap: 10px;
        padding-bottom: 10px;
    }

    .multiple-icon img{
        max-width: 90%;
        margin: auto;
    }

    .section1-container .multiple-icon img{
        padding-bottom: 40px;
    }

    .fd-cr{
        flex-direction: column-reverse;
    }
    
    .font-size-60px {
        font-size: 44px;
        text-align: center;
    }

    .text-align-center{
        text-align: center;
    }

    .bg-ECF4F1 .paragraph
    {
        font-size: 10px;
        text-align: center;
    }

    .font-size-35px{
        font-size: 30px;
        text-align: center;
    }

    .card .para{
        text-align: center;
        font-size: 12px;
    }
    .section1-heading{
        font-size: 18px;
        text-align: center;
    }
    
    .financial-text{
        padding-bottom: 20px;
    }

    .font-size-18px{
        font-size: 13px;
        text-align: center;
    }

    .bg-ECF4F1{
        margin: 40px 0px;
    }
    
    .part-one-flex li,
    .courses-taught-flex .courses-taught-heading,
    .footer-section h5,
    .accordion-button:not(.collapsed),
    .master-section .join-big-btn a{
        font-size: 14px;
    }

    .bg-ECF4F1 .image-gallery{
        max-width: 90%;
        margin: auto;
        text-align: center;
        margin-top: 30px;
    }

    .border-right{
        border: none;
    }

    .font-size-15px{
        padding-top: 10px;
    }

    .section1-container{
        max-width: 580px;
        margin: auto;
    }

    .part-one-flex img{
        width: 20px;
    }

    .font-size-40px span, 
    .font-size-40px{
        font-size: 25px !important;
        margin: 10px;
    }

    .nav.nav-tabs{
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        flex-wrap: nowrap !important;
    }

    .custom-section::before{
        width: 90%;
        left: 20px;
        height: 78%;
    }

    .custom-section {
        padding: 20px;
        text-align: center;
    }

    .custom-content h2 {
        font-size: 20px;
        text-align: center;
    }

    .custom-content p {
        font-size: 12px;
        text-align: center;
    }

    .custom-button {
        font-size: 14px;
        padding: 10px 20px;
        text-align: center;
        display: inline-block;
        width: 90%;
    }

    .master-section{
        background: url(../images/mobile-master-section.png) !important;
        min-height: auto;
        text-align: center;
        background-size: 100% 100% !important;
        padding: 40px 50px;
        margin-bottom: 30px;
    }

    .master-your-money{
        padding-top: 30px;
        font-size: 20px;
    }

    .cta-section{
        margin: 20px auto;
    }

    .accordion-button{
        font-size: 14px !important;
        padding: 5px 10px !important; 
    }

    .accordion-body{
        font-size: 14px;
        padding: 1rem 2.25rem;
    }

    .cta-button{
        font-size: 10px;
    }

    .cta-text,
    .courses-taught-flex .courses-taught-para,
    .font-size-12px,
    .footer-section a,
    .text-8FD300,
    .footer-section .navigation-link li{
        font-size: 12px;
    }

    .copy-right{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        gap: 20px;
        padding-top: 30px;
        font-size: 14px;
    }

    .footer-section{
        padding: 30px 0;
    }

    .border-top-fff{
        border-top: 1px solid #fff !important;
    }

    .nav-tabs .nav-link{
        min-height: 139px;
    }

    .faq-section .font-size-40px{
        font-size: 20px !important;
    }

}

@media screen and (max-width:640px) {
    .section1-container{
        max-width: 460px;
        margin: auto;
    }
}

@media screen and (max-width:500px) {
    .section1-container{
        max-width: 360px;
        margin: auto;
    }

    .accordion-button::after{
        margin-left: 20px !important;
    }
    .navbar-light .navbar-brand{
        width: 195px;
    }
    .navbar .btn-success {
        padding: 10px 13px;
    }
    .navbar-light .navbar-toggler {
        padding: 8px 8px;
        font-size: 16px;
    }
}

@media screen and (max-width:400px) {
    .section1-container{
        max-width: 320px;
        margin: auto;
    }
}