@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.top-heading{
    background: #F9B452;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16   px;
    color: #333333;
}

.top-heading a:hover,
.top-heading a{
    font-weight: bold;
    color: #333333;
}
.navbar-brand {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.navbar-brand img {
    margin-right: 10px;
}

.navbar-nav .nav-link {
    font-size: 16px;
    margin-right: 20px;
    color: #000 !important;
    font-weight: 600;
}

.navbar .btn-success {
    padding: 10px 22px;
    font-size: 16px;
    border-radius: 8px;
    color: #fff !important;
    font-weight: 600;
    background-color: #289925 !important;
}

.banner-bg{
    background: url("../images/banner-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.members{
    display: flex;
    align-items: center;
    gap: 20px;
}

.section1-container{
    max-width: 1000px;
    margin: auto;
}

.hero-section .banner-left-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 81%;
    margin-left: auto;
}

.hero-section .banner-left-section .heading{
    color: #299926;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #fff;
    border-radius: 6px;
    background: #fff;
    padding: 3px;
    margin-bottom: 20px;
}

.section1-container .text-8FD400,
.hero-section .banner-left-section .text-8FD400{
    font-size: 33px;
    line-height: normal;
    font-weight: 800;
    color: #8FD400;
}

.many-talk,
.section1-heading,
.section1-container .bg-000,
.hero-section .banner-left-section .bg-000{
    font-size: 29px;
    line-height: normal;
    font-weight: 800;
    color: #000;
}

.hero-section .banner-left-section p{
    font-size: 15px;
    line-height: 25px;
    padding: 20px 0px;
}

.hero-section .banner-left-section a{
    background: #2B9926;
    padding: 12px 20px;
    border-radius: 10px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 30px;
}

.financial-heading span,
.hero-section .banner-left-section .members .over-text{
    font-size: 18px;
    color: #000;
    font-weight: bold;
    line-height: normal;
}

.hero-section .banner-left-section .members span{
    color: #636363;
    font-size: 17px;
    line-height: normal;
}

.financial-heading{
    font-size: 16px;
    color: #000;
    font-weight: 400;
    line-height: normal;
    padding:  50px 0px;
}

.section1-container .multiple-icon img{
    padding-bottom: 70px;
}

.part-one-flex li,
.card ul li,
.card .para{
    font-size: 16px;
    color: #000;
    font-weight: 500;
    padding-bottom: 20px;
}

.part-one-flex li,
.card ul li{
    display: flex;
    align-items: baseline;
}

.card{
    padding: 40px 20px;
    border: 1px solid #fff !important;
    border-radius: 15px !important;
    margin-bottom: 20px;
}

.font-size-18px{
    font-size: 18px;
    font-weight: 500;
    color: #000;
}

.bg-ECF4F1{
    background-color: #ECF4F1;
    margin: 70px 0px;
    padding: 40px 0px;
}

.font-size-35px{
    font-size: 35px;
    color: #8FD400;
    font-weight: bold;
    line-height: normal;
}

.font-size-60px{
    font-size: 60px;
    color: #000;
    font-weight: 800;
    line-height: normal;
}

.bg-ECF4F1 .paragraph{
    font-size: 14px;
    font-weight: 400;
    color: #063636;
}

.courses-taught-flex .courses-taught-para{
    font-size: 15px;
    color: #404040;
    font-weight: 500;
}

.courses-taught-flex .courses-taught-heading{
    color: #000;
    font-size: 25px;
    line-height: normal;
    font-weight: bold;
}

.courses-taught-flex{
    display: flex;
    align-items: center;
    gap: 30px;
    background: #F9F9F9;
    padding: 20px;
    border-radius: 20px;
}

.courses-taught-flex img{
    width: 60px;
}

.font-size-40px span,
.font-size-40px{
    font-size: 40px !important; 
    color: #000;
    font-weight: 800;
    line-height: normal;
}

.border-right{
    border-right: 2px solid #D9D9D9;
}

.font-size-15px{
    font-size: 15px;
    color: #000;
}

.part-one{
    color: #299926;
    font-size: 18px;
    font-weight: bold;
    background: #E0F8E0;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 10px;
}

.part-one-flex li{
    padding-bottom: 10px !important;
    font-weight: bold !important;
}

.video-frame video{
    width: 100%;
}

.nav-tabs{
    border-bottom: 1px solid #cccccc !important;
}

.nav-tabs .nav-link{
    color: #404040;
}

.nav-tabs .nav-link:hover,
.nav-link.active{
    border-bottom: 3px solid #007336 !important;
    border-color: #fff #fff #007336 !important;
    color: #007336 !important;
    font-weight: bold;
    font-size: 14px;
}

.custom-section {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    z-index: 1;
}
.custom-section::before {
    content: '';
    position: absolute;
    top: 130px;
    width: 100%;
    background-color: #006338;
    z-index: -1;
    border-radius: 15px;
    bottom: 130px;
}
.custom-content {
    color: white;
    text-align: left;
    z-index: 1;
    position: relative;
}
.custom-button {
    background-color: #2B9926;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
}

.custom-section img{
    max-width: 80%;
}

.custom-section p{
    font-size: 15px;
    color: #fff;
}

.master-section{
    background: url(../images/master-section.png);
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.master-your-money{
    font-size: 30px;
    color: #fff;
    font-weight: bold;
}

.master-section p{
    color: #fff;
    font-size: 15px;
    text-align: center;
    padding-top: 20px;
}

.master-section .join-big-btn a{
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    background-color: #000;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
}

.master-section::before  {
    content: "";
    position: absolute;
    top: 100;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #EBF4F1; 
    z-index: -1;
}

.bg-EBF4F1{
    background-color: #EBF4F1;
    padding-bottom: 30px;
}

.cta-section {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 10px 14px 16px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.cta-text {
    font-size: 16px;
    color: #000;
    line-height: 1.6;
}

.cta-button {
    background-color: #28a745;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 20px auto 0 auto;
    width: fit-content;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cta-button:hover {
    background-color: #289925;
    color: #fff;
}

.faq-section {
    padding: 50px 0;
    text-align: center;
}

.faq-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.accordion{
    max-width: 700px;
    margin: auto;
}

.accordion-button {
    background-color: #fff !important;
    color: #404040 !important;
    font-weight: bold;
    box-shadow: none;
    align-items: baseline !important;
}

.accordion-button:not(.collapsed) {
    color: #54C247 !important;
    background-color: #fff !important;
    box-shadow: none !important;
}

.accordion-button::after {
    filter: invert(1);
}

.accordion-item {
    margin-bottom: 10px;
    /* border: none; */
    border: 1px solid #EAEAEA !important;

}

.accordion-body {
    color: #404040;
    text-align: left;
}


.footer-section {
    background-color: #000;
    color: #fff;
    padding: 50px 0;
}

.footer-section p{
    font-size: 14px;
    color: #fff;
    padding-top: 20px;
}
.footer-section a {
    color: #fff;
    text-decoration: none;
}

.footer-section a:hover {
    color: #28a745;
}

.footer-section .social-icons a {
    font-size: 20px;
    margin-right: 15px;
    color: #fff;
}

.footer-section h5{
    position: relative;
}

.footer-section h5::after{
    border-bottom: 2px solid #8FD300;
    width: 30px;
    position: absolute;
    content: "";
    top: 0px;
    left: 0;
    bottom: -7px;
}

.footer-section .navigation-link li{
    font-size: 14px;
    padding-bottom: 10px;
}
